.movieBrowserContainer {
    margin: 0px 20px 0px 20px;

}

.movieBrowserContainer h1 {
    align-self: flex-start;
    color: #ffffff;
    
}

.movieBrowserTitleContainer {
    height: 100%;
    width: calc(100vw - 250px - 1vw);
    display: flex;
    flex-direction: row;
    /* margin: 0px 20px 0px 20px; */
    overflow-x: scroll;

}

.movieBrowserTrendingTitle {
    position: relative;
    height: 400px;
    width: auto;
    /* width: 100%; */
    margin: 10px;

}

.movieBrowserTrendingTitle img {
    display: block;
    height: 400px;
    width: auto;
    align-self: baseline;
    border-radius: 10px;

}

.movieBrowserTrendingMovieTitleContainer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background: linear-gradient(90.8deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 98.77%);
    width: 100%;  
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: space-around;
    align-items: middle;
    color: #ffffff;

}

.movieBrowserTrendingMovieTitleContainer:hover {
    

}


.movieBrowserTrendingMovieTitleContainer h3 {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}