.layoutContainer {
    background-color: inherit;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 150px repeat(5, 1fr) auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
  }

  .layoutTop {
    grid-area: 1 / 2 / 2 / 2;;
  }

  .layoutLeft {
    grid-area: 1 / 1 / 8 / 2;;
    position:fixed;
    height: calc(100vh);
    width: 250px;
  }

  .layoutMain {
    grid-area: 2 / 2 / 8 / 2;;
  }
