.searchfieldInput {
    height: 30px;
    width: 385px;
    border-radius: 100px;
    border: none;
    margin-left: 40px;
    margin-top: 40px;
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 1150px) {
    .searchfieldInput {
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
        bottom: 0;
    }
    
}