.mobileSidebarContainer {
  position: absolute;
  background-color: #00000087;
  width: 100%;
  height: 100%;
  display: grid;
  box-shadow: 1px 0px 0px #686868;
  grid-template-columns: 85% 15%;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mobileSideBarOptions {
  background-color: #171717;
  height: 100vh;
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  box-shadow: 1px 0px 0px #686868;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* .mobileSideBarTint {
  height: 100%;
  width: 100%;
  grid-area: 1 / 2 / 8 / 2;
  background: hsla(0, 0%, 49%, 0.116);
  display: none;
} */

.mobileSidebarHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin-top: 39px;
  cursor: pointer;
}

.mobileSidebarButtons {
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-self: center;
}

.mobileSideBarButton {
  width: 100%;
  color: #838383;
  cursor: pointer;
  padding: 20px 0px 20px 0px;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr repeat(3, 0.5fr) 1fr ;
  grid-template-rows: 100%;
  grid-column-gap: 10px;
  align-items: center;
  place-items: middle;
  transition: all .4s ease-in-out; 
}

.mobileSideBarButton img {
  grid-column: 2 / 3;
  align-self: middle;
  text-align: middle;
  margin: 0 auto;
  pointer-events: none;
  
}

.mobileSideBarButton div {
  grid-column: 3 / 5;
  float: right;
  pointer-events: none;

}

.mobileSideBarButton:hover {
  background-color: #4d4d4d29;
}