.movieLoadingSpinnerWrapper {
    width:100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    }

.movieLoadingSpinner {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .movieLoadingSpinner:before , .movieLoadingSpinner:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .movieLoadingSpinner:after {
    box-shadow: 0 2px 0 #b5b5b5 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }
