.sidebarContainer {
  background-color: #171717;
  width: 100%;
  height: 100%;
  display: grid;
  box-shadow: 1px 0px 0px #686868;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sidebarHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin-top: 39px;
}
