.trendingContainer {
    height: 100%;
    width: calc(100vw - 250px);
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0px 0px 0px 0px;
    overflow:auto;

}

.trendingTitle {
    width: 680px;
}

.trendingTitle img {
    width: 680px;

}