.trendingContainer {
    margin: 0px 20px 0px 20px;

}

.titlesContainer {
    height: 100%;
    width: calc(100vw - 250px - 1vw);
    display: flex;
    flex-direction: row;
    /* margin: 0px 20px 0px 20px; */
    overflow: auto;

}

.trendingTitle {
    position: relative;

    width: 100%;
    margin: 10px;

}

.trendingTitle img {
    display: block;
    width: 680px;
    height: auto;
    align-self: baseline;
    border-radius: 10px;

}

.trendingContainer h1 {
    align-self: flex-start;
    color: #ffffff;
    
}

.trendingMovieTitleContainer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background: linear-gradient(90.8deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 98.77%);
    width: 100%;  
    padding: 20px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: space-around;
    align-items: middle;

}

.trendingMovieTitleTextContainer {


}

.trendingMovieTitleContainer h3 {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}